<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="list01 d_flex">
    <div class="list01_item">
      <span class="list01_image"><img src="http://placehold.it/200x150"/></span>
      <span class="list01_title">春</span>
    </div>
    <div class="list01_item">
      <span class="list01_image"><img src="http://placehold.it/200x150"/></span>
      <span class="list01_title">夏</span>
    </div>
    <div class="list01_item">
      <span class="list01_image"><img src="http://placehold.it/200x150"/></span>
      <span class="list01_title">秋</span>
    </div>
    <div class="list01_item">
      <span class="list01_image"><img src="http://placehold.it/200x150"/></span>
      <span class="list01_title">冬</span>
    </div>
  </div>
</body>
</html>